.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.force-no-padding-top {
  padding-top: 0 !important;
}
.force-padding-bot1rem {
  padding-bottom: 1rem !important;
}

body {
  position: relative;
  background-image: url('../public/assets/images/background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  padding: 0;
  z-index: 0;
}

/* Thêm lớp mờ qua pseudo-element */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Điều chỉnh mức mờ ở đây */
  z-index: -1;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='cyan' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.overlay-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

@media (max-width: 768px) {
  .custom-dropdown {
    inset: auto auto auto 0 !important; /* canh trái nút */
    transform: none !important;
    right: auto !important;
    top: 100% !important;
    min-width: 140px !important;  /* thu nhỏ chiều ngang */
    font-size: 0.875rem;           /* chữ nhỏ hơn */
    padding: 0.25rem 0;            /* khoảng cách nhỏ hơn */
  }

  .custom-dropdown .dropdown-item {
    padding: 0.25rem 0.75rem;      /* padding item nhỏ lại */
  }
}

.app-footer {
  position: fixed;       /* Cố định */
  bottom: 0;             /* Sát đáy */
  left: 0;               /* Sát bên trái */
  width: auto;           /* Không chiếm hết chiều ngang */
  background: transparent; /* Không cần nền */
  padding: 5px 10px;
}

.app-footer .copyright {
  font-size: 14px;
  color: #555;           /* Màu chữ */
}

/* Giới hạn overflow cho tất cả các biểu đồ */
.gain-chart-container {
  width: 100%;
  overflow-x: hidden;
}

.about-us-container a {
  color: #66ccff;
  text-decoration: none;
}

.about-us-container a:hover {
  text-decoration: underline;
}
